<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Tasks</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Cookie&family=Cormorant+SC:wght@300&family=Dancing+Script&family=Great+Vibes&family=Indie+Flower&family=Playfair+Display:ital@0;1&family=Sacramento&family=Satisfy&family=Square+Peg&family=Stint+Ultra+Condensed&family=The+Nautigal&display=swap" rel="stylesheet">
        
    <!-- <meta name="google-signin-scope" content="profile email"> -->
    <meta name="google-signin-client_id" content="687924894964-9hm7on00cr635tsr8k9rq4u29ngsnuad.apps.googleusercontent.com">
  </head>

  <body>
<!--------- NAVBAR ----------->
      <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">☰ Task.it</button>
        <div class="dropdown-content" id="myDropdown">
          <a href="/tasks">All Tasks</a>
          <a href="/tasks/mine">My Tasks</a>
          <a href="/users/signup">Sign Up</a>
          <a href="/users/login">Log In</a>
          <a href="/users/logout">Log Out</a>
        </div>
      </div>
<!-------- END OF NAVBAR -------->

<!-- SEARCH BAR --> 
<div class="search-wrapper">
  <label for="search">Search Tasks </label><br>
  <input type="search" id="search">
</div>
<div class="task-search-cards">
  <div class="search-card">
    <div class="header">Task: </div>
  </div>
</div>

<form>
<input type="text" id="search-bar" onkeyup="sendData(this)">
<input type="submit">
</form>
<section id="searchResults">
</section>

<script>
  function sendData(e){
    const searchResults = document.getElementById('searchResults')
    fetch('getTasks', {
      method: 'POST',
      headers: {'Content-type': 'application/json'},
      body: JSON.stringify({payload: e.value})
    })
    .then(res => res.json()).then(data => {
      let payload = data.payload;
      searchResults.innerHTML = '';
      if(payload.length < 1){
        searchResults.innerHTML = '<p>Sorry. Nothing Found.</p>';
        return;
      }
      payload.forEach((item, index) => {
        if(index > 0) searchResults.innerHTML += '<br>';
        searchResults.innerHTML += `<ul class="search-items"><li>${item.name}</li></ul>`;
      })
      return;
    })
  }
</script>

<!-- END OF SEARCH BAR -->

<!-- MAIN BODY -->
<div class="page-container">
<main class="content-wrap">
  {% block content %}
  my content
  {% endblock %}
</main>
</div>
<br>
<br>
<!-- END OF MAIN BODY -->

<!-- FOOTER -->
  <footer>
  <div class="footer">
  © Mayday Media | All Rights Reserved
  <br>
    <div class="footer-links">
    <a href="https://www.linkedin.com/in/ryanwmay/">
    <img src="/linkedinlogo1med.png"></a>
    <a href="https://github.com/mayday91">
    <img src="/githublogo1med.png"></a>
    <a href="https://twitter.com/RyanWMay">
    <img src="/twitterlogo1med.png"></a>
    </div>
  </div>
  </footer>
     <!-- END OF FOOTER -->


     <!-- FUNCTION FOR DROPDOWN -->
  <script>
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}
// Close the dropdown menu if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
  </script>
 <!-- END OF FUNCTION -->
  </body>
</html>