body {
    background-color: bisque;
}

.card {
    background-color: olivedrab;
    margin: 5px;
    height: 250px;
}

.display-6{
    text-align: center;
}

.new-task{
    text-align: center;
}

.navbar-dark{
    justify-content: left;
}

a {
    margin: 5px;
}

.btn {
    font-size: 20px;
}

.imp {
    font-size: 30px;
}

.navbar-brand {
    font-size: 30px;
    color: bisque;
}

.navbar {
    color: green;
}

.view {
    background-color: darkgoldenrod;
    margin-top: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    
}

.pencil {
    width: 40px;
    height: 60px;
}