{% layout 'layout.liquid' %}

{% block content %}
<div class="edit-task">
<br>
<form action="/tasks/{{task._id}}?_method=PUT"  method="POST">
    
    <legend>Edit this task:</legend>

    <label class="form-label">Name: </label>
    <input class="form-control" type="text" name="name" placeholder="{{task.name}}">
    <br>
    <label class="form-label">Importance: </label>
    <input class="form-control" type="number" name="importance" placeholder="{{task.importance}}">

    <br>
    <label class="form-check-label">Completed: </label>
    <input class="form-check-input" type="checkbox" name="completed" {% if task.completed %} checked {% endif %}>

   
    <br>

    <div class="btn-group">
    <input type="submit" value="Submit" class="btn submit btn-success"><br>
    <a href="/tasks" class="btn btn-warning">Cancel</a>
    </div>
</form>

</div>
{% endblock %}