{% layout 'layout.liquid' %}
{% block content %}

<div class="login">
    <form action="/users/login" method="POST">

            <legend>Welcome Back!<br> Please log in below.</legend>
            <label class="form-label">Username:</label>
            <input type="text" name="username" class="form-control">
            <br>
            <label class="form-label">Password:</label>
            <input type="password" name="password" class="form-control">

        
        <br>
        <input type="submit" value="Log In" class="btn btn-success">

    </form>
</div>

{% endblock %}